body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page {
    display: none;
    flex-direction: column;
}

.page--active {
    display: flex;
}

.question {
    display: none;
}

.question--active {
    display: block;
}

.list_btn-del {
    padding: 1.5em;
}

.table-result {
    margin-bottom: 30px;
}

.dev {
    border: 1px solid tomato;
    margin: 5px;
    padding: 5px;
}